#PROVIDER="ollama"
#API_KEY=""
#API_URL=http://localhost:11434

#PROVIDER="openai"
#API_KEY=""
#API_URL=https://api.aterinieto.com


# You can use "$random" to set up random value

LLM_OPTIONS={"model": "alibayram/erurollm-9b-instruct:latest"}

SIMILAIRITY_THRESHOLD="0.30"

# Source: https://www.sbert.net/docs/sentence_transformer/pretrained_models.html#semantic-search-models
# SIMILARITY_TYPE="BAAI"
# SIMILARITY_MODEL="BAAI/bge-small-en-v1.5"

SIMILARITY_TYPE="MINILM"
SIMILARITY_MODEL="all-MiniLM-L12-v2"