PROVIDER="ollama"
API_KEY=""
API_URL=http://localhost:11434/api/generate

# You can use "$random" to set up random value

LLM_OPTIONS={"model": "alibayram/erurollm-9b-instruct:latest"}

SIMILAIRITY_THRESHOLD="0.30"

# Source: https://www.sbert.net/docs/sentence_transformer/pretrained_models.html#semantic-search-models
SIMILARITY_MODEL="all-mpnet-base-v2"